#webview-body {
  display: flex;
  flex-direction: column;
}

.column-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.column-container > * {
  margin: 0.75rem 0;
}

.parameter-container {
  display: flex;
  flex-direction: column;
}

.parameter-container:hover {
  background-color: var(--vscode-settings-rowHoverBackground);
}

.label {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  font-weight: 600;
}

.description {
  margin-top: 0.25rem;
}

.parameter-list-item {
  display: flex;
  height: 24px;
  max-height: 24px;
}

.parameter-list-item:hover {
  background-color: var(--vscode-settings-rowHoverBackground);
}

@media screen and (min-width: 1024px) {
  #webview-body {
    padding: 0 8rem;
    max-width: 1024px;
    margin: 0 auto;
  }
}
